* {box-sizing: border-box;}

body
{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Ruboto', sans-serif;
  background-color: #f5f5f5;
}

h1, h2
{
  text-align: center;
  margin: 0;
  line-height: 1.3em;
  position: relative;
}

h1.title {z-index: 3;}
h2.view-title {z-index: 2;}


.orange-stripe
{
  background-color: #ffa500;
  border-bottom: 1px solid #bd7a00;
  color: #5f3d00;
}
.green-stripe
{
  background-color: #368000;
  border-bottom: 1px solid #215000;
  border-top: 1px solid #3e9600;
  color: #f4ffed;
}

header
{
  position: fixed;
  z-index: 1;
  width: 100vw;
  box-shadow: 0 0 10px 10px #f5f5f5;
}

main
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-top: 6em;
  /*z-index: 0;
  position: relative;*/
}

footer
{
  min-height: 2em;
  background-color: blue;
}

.animate-repeat
{
  position: relative;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave
{
  transition: all linear 0.8s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter,
.animate-repeat.ng-move
{
  opacity: 0;
  /*left: 100vw;*/
  max-height: 0;
}

.animate-repeat.ng-enter-active,
.animate-repeat.ng-move-active,
.animate-repeat.ng-leave
{
  opacity: 1;
  left: 0;
  max-height: none;
}

.article
{
  align-self: center;
  width: 40%;
  margin: 0.5em 0;
  padding: 0.6em;
  border: 1px solid #acacac;
  box-shadow: 0 0 1px 1px #ddd;
  background-color: white;
}

.article h3
{
  margin-top: 0;
  margin-bottom: 0.3em;
  line-height: 1.1em;
  color: #555;
}

.article #index {
  margin-right: 0.5ch;
}