<div class="animate-repeat article" ng-repeat="article in articles | orderBy: 'index'">
  <h3><span id="index">#{{article.index + 1}}: </span><a href="{{article.url}}">{{article.title}}</a></h3>
  <span id="origin">content from <a ng-href="{{article.origin}}" target="_blank">{{article.origin}}</a></span>
  <span id="author"> submitted by <a ng-href="https://news.ycombinator.com/user?id={{article.by}}" target="_blank">{{article.by}}</a></span>
  <span id="comments">| <a ng-href="https://news.ycombinator.com/item?id={{article.id}}" target="_blank">
    <ng-pluralize count="article.descendants"
                   when="{'0': 'no comments', 'one': 'one comment', 'other': '{{article.descendants}} comments'}"
  </a></span>
</div>
